*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;

}

.navbar-toggle{
    display: none;
}

button{
    cursor: pointer;
}

header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.head-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1160px;
    align-items: center;
}
.headlogo img{
    width:80px;
    position: relative;
    top: 10px;
}

.headlogo{
    vertical-align: middle;
}

.text1, .text2{
    color: #ff8367;
    font-size: 21px;
    font-weight: bold;
}

.text2{
    color: black !important;
}

.nav-ul ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 420px;
    padding: 0;
    font-size: 20px;
    color: gray;
}

.nav-1{
    color: black;
}

.header-bottom{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    height: 650px;
}



.head-left img{
    width: 550px;
    height: auto;
    position: relative;
    right: 70px;
}

.head-right{
    height: 350px;
    position: relative;
    left: 20px;
    top: 40px;
}

.heading h2{
    font-size: 50px;
    color: #ff8367;
}
.heading2{
    color: #363958 !important;
}

.head-para{
    font-size: 20px;
}

.head-btn button {
    background: rgba(0, 0, 255, 0.74);
    padding: 12px 26px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;

}
.head-btn i{
    position: relative;
    right: 6px;
}

.cont1-head{
    width: 1190px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #2d2f49;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
}

.shoe-card{
background-color: white;   
width: 370px; 
border-radius: 30px;
padding: 10px;
}

.shoe-img img{
      width: 350px;
      height: 350px;
}

.shoe-img{
    background-color: #F1F1F1;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}

.shoe-dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;height: 200px;
    margin: auto;
    /* background-color: aqua; */
}

.shoe-dis h1{
    color: #363958;
}

.shoe-dis p{
    position: relative;
    bottom: 20px;
    font-size: 18px;
}

.main-s{
    position: relative;
    bottom: 15px;
}

.price-main{
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.price{
    font-size: 26px;
    font-weight: bold;
    color:#ff8367;
}

.shoe-btn button{
    padding: 10px !important;
     width: 100px;
     font-size: 12px;
}

.container2{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    margin-top: 60px;
}

.cont2-left1{
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    border-radius: 20px;
    margin: 20px;
    /* padding: 10px 40px; */
}

.cont2-left1-img img{
    width: 80px;
}

.cont2-right img{
    width: 600px;
    margin-top: 40px;
}

.cont2-left1-cont h3{
  color: #2d2f49;
  font-size: 20px;
}

.cont2-left1-cont{
    color: #2d2f49;
}

.container3{
    width: 1150px;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    padding: 50px;
    margin-top: 70px;
}

.container3 h3{
    text-align: center;
    position: relative;
    bottom: 30px;
    font-size: 30px;
    color:  #2d2f49;
}

.sub{
    width: 1030px;
    margin: auto;
    position: relative;
    bottom: 10px;
}

.sub input{
       width: 900px;
       padding: 10px;
}

.sub button{
    padding: 12px;
    background-color: rgb(64, 64, 247);
    color: white;
    border: none;
    border-radius: 3px;
    position: relative;
    right: 20px;
}

footer{
    background-color: #ffffffef;
    margin-top: 90px;
}

.foot-container{
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: auto;
     padding: 30px 0px 30px 0px;

}

.row{
    color: #2d2f49;
}

.foot-bottom{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.foot-bottom span{
    color: #ff8367;
}

.contact {
    position: fixed;
    /* width: 40px; */
    bottom: 40px;
    right:  30px;
}



@media  (max-width: 1200px) {
    .container1{ 
    width: 900px;

}

.cont1-head{
    width: 900px;
}

.head-container{
    width: 930px !important;
    
}

.header-bottom{
    width: 100% !important;
    height: auto !important;
    padding: 80px 0px 80px 0px !important;
}

.head-left img{
    width: 400px;
    margin-left: 50px;
}



.heading h2{
    font-size: 40px;
}

.shoe-card{
width: 280px; 

}

.shoe-img{
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin: auto;
}

.shoe-img img{
    width: 250px;
    height: 240px;
    
}

.shoe-dis{
    width: 240px;height: 200px;
    margin: auto;
    /* background-color: aqua; */
}

.shoe-dis h1{
   font-size: 22px;
}

.shoe-dis p{
    font-size: 16px;
}

.price-main{
        width: 240px;
}

.price{
    font-size: 26px;
    font-weight: bold;
    color:#ff8367;
}

.shoe-btn button{
    padding: 10px !important;
     width: 100px;
     font-size: 12px;
}

.container2{
    width: 900px;
    margin-top: 80px;

}

.cont2-left1{
    
    width: 450px;

}

.cont2-left1-img img{
    width: 65px;
}

.cont2-right img{
    width: 400px;
    margin-top: 80px;
}

.cont2-left1-cont h3{
  color: #2d2f49;
  font-size: 20px;
}

.cont2-left1-cont{
    color: #2d2f49;
}

.container3{
    width: 900px;
    
}

.sub{
    width: 850px;
}

.sub input{
       width: 700px;
}

.foot-container{
    width: 900px;
  }
}

@media  (max-width: 992px) {

    .head-container{
        width: 750px !important;
    }

    header{
        padding: 10px 0;
    }


    .head-right{
         width: 330px;
    }

    .nav-ul ul{
        width: 350px;
        font-size: 18px;
    }
    

    .header-bottom{
        width: 100% !important;
        justify-content: space-evenly !important;
    }

    .head-left img{
        width: 300px;
        right: 0;
        margin-bottom: 30px;
    }

    .heading h2{
        font-size: 36px;
    }

    .cont1-head{
        width: 750px;
    }
    .container1{
        width: 750px;
    }

    .shoe-card{
        width: 230px;
        padding: 10px;
    }

    .shoe-img{
        width: 200px;
        height: 200px;
    }

    .shoe-img img{
        width: 200px;
        height: 200px;
    }

    .shoe-dis{
        width: 200px;
    }

    .price-main{
        width: 200px;
    }

    /* container2 */
    .container2{
        width: 750px;
    }

    .cont2-left1{
        width: 320px;
        padding:  05px;
    }
    .cont2-left1-cont p{
  font-size: 12px;
    }

    .cont2-left1-img img{
        width: 45px;
    }

    .cont2-right img{
        width: 350px;
    }

    /* container3 */
    .container3{
        width: 750px;
    }

    .sub{
        width: 700px;
    }

    .sub input{
        width: 550px;
    }

    .foot-container{
        width: 750px;
    }
}

@media (max-width: 768px) {

    /* Header */
    .head-container{
        width: 90% !important;
       }
    .navbar-toggle{
        display: block !important;
    }

    .nav-ul{
       display: none; 
    }
    .cont1-head{
        width: 90%;
    }

    /* Hero */
    .header-bottom{
        flex-direction: column;
        padding: 40px 0;
        height: auto;
    }

    .head-left img{
        width: 400px;
    }

.head-right {
        height: auto;
    }

    .heading h2{
        font-size: 46px;
    }

    /* container1 */
    .container1{
        width: 90%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .shoe-card{
        width: 260px;
    }

    /* container2 */
    .container2{
        flex-direction: column;
        width: 90%;
        align-items: center;
        gap: 10px;
    }

    .cont2-left1{
        width: 400px;
        gap: 10px;
    }

    .cont2-right img{
        width: 320px;
    }

    /* container3 */
    .container3{
        width: 90%;
    }

    .sub{
        width: 430px;
    }

    .sub input{
        width: 320px;
    }


    /* footer */
    .foot-container{
        width: 400px ;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 578px) {

    /* Header */
    .head-container{
        width: 90% !important;
    }

    .nav-ul{
        display: none; 
    }

    .navbar-toggle{
        display: block !important;
    }

    /* Hero Section */
    .header-bottom{
        flex-direction: column;
        padding: 40px 0;
        height: auto;
        align-items: center !important;
        text-align: center;
    }

    .head-left img{
        width: 300px;
        right: 0;
        margin-bottom: 20px;
    }

    .head-right{
        width: 350px;
        margin: auto;
        left: 0px !important;
    }

    .heading h2{
        font-size: 38px;
    }

    /* =====================
         CONTAINER 1 – CARDS
       ===================== */
    .container1{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .shoe-card{
        width: 360px !important;
    }

    .shoe-img{
        width: 330px !important;
        height: 360px !important;
    }

    .shoe-img img{
        width: 340px !important;
        height: 360px !important;
        object-fit: cover;
    }

    .shoe-dis{
        width: 330px !important;
    }

    .shoe-dis h1{
        font-size: 26px;
    }

    .price-main{
        width: 320px !important;
    }

    .shoe-btn button{
        width: 120px !important;
        font-size: 14px;
    }

    /* =====================
         CONTAINER 2
       ===================== */
    .container2{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .cont2-left1{
        width: 360px;
        padding: 15px;
        gap: 15px;
        margin: 20px auto;
    }

    .cont2-right img{
        width: 300px;
    }

    /* =====================
         CONTAINER 3 – SUBSCRIBE
       ===================== */
    .container3 {
        width: 360px;
        margin: 70px auto;
    }


    .sub{
        width: 320px;
       

    }

    .sub input{
        width: 190px;
    }


    .foot-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}
